<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="font-sans bg-gray-100">
<div id="app">

    <div th:replace="fragments/nav :: nav"></div>

    <div class="">
        <div class="py-4">
            <div class="max-w-4xl mx-auto px-4 sm:px-4 lg:px-4">

                <div class="bg-white rounded-lg shadow p-6">
                    <div class="flex justify-between">
                        <nav class="flex items-center text-sm leading-5 font-medium">
                            <a th:href="@{/projects}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
                                Home
                            </a>
                            <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                            </svg>
                            <a th:href="@{'/project/' + ${project.id}}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
                                <span th:text="${project.name}">Project Name</span>
                            </a>
                        </nav>

                        <div>

                        </div>

                    </div>
                    <div class="mt-2">
                        <div class="flex justify-between">
                            <div class="text-xl font-bold text-gray-900 sm:text-md  sm:truncate">
                                Chat
                            </div>
                        </div>
                        <%-- <div class="mt-1 flex items-center text-sm leading-5 text-gray-500">
                            Chat casually with the group, ask random questions, and share stuff without ceremony.
                        </div> --%>
                    </div>




                    <div class="mt-4">
                            <div class="mx-auto max-w-screen-xl border-t">
                                <%-- <div class="lg:grid lg:grid-cols-3 lg:gap-8"> --%>

                                     <!-- component -->
                                        <div class="font-sans antialiased">
                                            <!-- Sidebar / channel list -->

                                            <!-- Chat content -->
                                            <div class="flex flex-col bg-white overflow-hidden" style="height: calc(100vh - 260px);">
                                                <!-- Top bar -->
                                                <%-- <div class="border-b flex px-6 py-2 items-center flex-none overflow-hidden">
                                                    <div class="flex flex-col">
                                                        <h3 class="text-grey-darkest mb-1 font-extrabold">#general</h3>
                                                        <div class="text-grey-dark text-sm truncate">
                                                            Chit-chattin' about ugly HTML and mixing of concerns.
                                                        </div>
                                                    </div>
                                                    <div class="ml-auto hidden md:block">
                                                        <div class="relative">
                                                            <input type="search" placeholder="Search" class="appearance-none border border-grey rounded-lg pl-8 pr-4 py-2">
                                                            <div class="absolute pin-y pin-l pl-3 flex items-center justify-center">
                                                                <svg class="fill-current text-grey h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                                    <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> --%>
                                                <!-- Chat messages -->
                                                <div class="flex flex-col min-h-full">
                                                    <div class="flex-1 py-4 flex-1 overflow-y-scroll" id="chat-window">
                                                        <div th:each="chatMessage : ${chatMessages}" class="flex items-start mb-4 text-sm" th:id="'chat_message_' + ${chatMessage.id}">
                                                            <img th:title="${chatMessage.user.firstName + ' ' + chatMessage.user.lastName}"
                                                                    th:src="@{'/avatar/' + ${chatMessage.user.id} + '/' + ${chatMessage.user.firstName.charAt(0)} + ${chatMessage.user.lastName.charAt(0)} + '.svg'}"
                                                                 class="w-10 h-10 rounded-full mr-3">
                                                            <div class="flex-1 overflow-hidden">
                                                                <div class="flex justify-between">
                                                                    <div>
                                                                        <div>
                                                                            <span class="font-bold">
                                                                                <span th:text="${chatMessage.user.firstName + ' ' + chatMessage.user.lastName}">User Name</span>
                                                                            </span>
                                                                            <span class="text-grey text-xs">
                                                                                <span th:text="${#dates.format(chatMessage.createdAt.time, 'MMM dd, yyyy')}">Date</span> at <span th:text="${#dates.format(chatMessage.createdAt.time, 'h:m a')}">Time</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <a th:if="${chatMessage.user.id == session.current_user.id}" th:onclick="|deleteChatMessage(${project.id}, ${chatMessage.id})|" class="underline text-red-500 cursor-pointer ">
                                                                            <svg fill="none" class="h-5 w-5 mr-4" viewBox="0 0 24 24" stroke="currentColor">
                                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                                                            </svg>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <p class="text-black leading-normal">
                                                                    <span th:text="${chatMessage.message}">Message Content</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-none">
                                                        <div>
                                                            <div class="mt-1 relative rounded-md shadow-sm">
                                                                <input id="chatMessageInput"
                                                                       class="form-input block w-full sm:text-sm sm:leading-5"
                                                                       placeholder="Type of your message..." value=""
                                                                       v-on:keyup.enter="sendMessage"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/notifications :: notifications"></div>

<div th:replace="fragments/footer :: footer"></div>


<input type="hidden" id="user.username" th:value="${session.current_user.username}"/>
<input type="hidden" id="user.id" th:value="${session.current_user.id}"/>
<input type="hidden" id="user.firstName" th:value="${session.current_user.firstName}"/>
<input type="hidden" id="user.lastName" th:value="${session.current_user.lastName}"/>
<input type="hidden" id="user.initials" th:value="${session.current_user.firstName.charAt(0) + session.current_user.lastName.charAt(0)}"/>
<input type="hidden" id="project.id" th:value="${project.id}"/>
<input type="hidden" id="isChatPage" value="true"/>
<input type="hidden" id="chat.contextUrl" th:value="@{/}"/>

</body>
</html>