<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="font-sans bg-gray-100">

<div id="app">

    <div th:replace="fragments/nav :: nav"></div>

    <div class=" min-h-screen">
        <div class="py-4">

            <div class="max-w-4xl mx-auto px-4 sm:px-4 lg:px-4">

                <div class="bg-white rounded-lg shadow p-6">

                    <div>
                        <nav class="flex items-center text-sm leading-5 font-medium">
                            <a th:href="@{/projects}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
                                Home
                            </a>
                            <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                            </svg>
                            <a th:href="@{/project/{id}(id=${project.id})}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out" th:text="${project.name}">
                            </a>

                            <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                            </svg>
                            <a th:href="@{/project/{id}/todos(id=${project.id})}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
                                To-dos
                            </a>

                        </nav>
                    </div>

                    <div class="mt-2">
                        <h2 class="text-xl font-bold text-gray-900 sm:text-md  sm:truncate">
                            Edit to-do
                        </h2>
                    </div>

                    <form th:action="@{/project/{projectId}/todo/{todoId}/edit(projectId=${project.id}, todoId=${todo.id})}" th:object="${todo}" method="post">
                        <div>
                            <div>
                                <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">

                                    <div class="sm:col-span-6">
                                        <label for="description" class="block text-sm font-medium leading-5 text-gray-700" wfd-id="81">
                                            Description
                                        </label>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            
                                            <input th:field="*{description}" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" placeholder="Type a title...">
                                                    <p class="mt-1 text-sm mb-4 text-red-500" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                                    </p>
                                        </div>
                                    </div>

                                    <div class="sm:col-span-3">
                                        <label for="assignedToVariable" class="block text-sm font-medium leading-5 text-gray-700" wfd-id="81">
                                            Assigned to
                                        </label>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <select th:field="*{assignedToVariable}" id="location" class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
                                                <option th:each="user : ${project.users}" 
                                                        th:value="${user.id}" 
                                                        th:text="${user.firstName + ' ' + user.lastName}"
                                                        th:selected="${todo.assignedTo.id == user.id}">User Name</option>
                                                <option th:value="${session.current_user.id}" 
                                                        th:text="${session.current_user.firstName + ' ' + session.current_user.lastName}"
                                                        th:selected="${todo.assignedTo.id == session.current_user.id}">Current User</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="sm:col-span-3">
                                        <label for="dueDateVariable" class="block text-sm font-medium leading-5 text-gray-700" wfd-id="81">
                                            Due on
                                        </label>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <input type="date" data-date="" id="dueDateVariable" name="dueDateVariable"
                                                   th:value="${#dates.format(todo.dueDate.time, 'yyyy-MM-dd')}" class=" form-input block w-full pl-3 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
                                        </div>
                                    </div>

                                    <script type="x-template" id="editor-template">
                                        <div>


                                            <input type="hidden" th:field="*{notes}" id="x"/>
                                            <trix-editor input="x" class="trix-editor-message"></trix-editor>
                                        </div>
                                    </script>

                                    <div class="sm:col-span-6">
                                        <label for="notes" class="block text-sm font-medium leading-5 text-gray-700" wfd-id="81">
                                            Notes
                                        </label>
                                        <editor></editor>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="mt-8 border-t border-gray-200 pt-5">
                            <div class="flex justify-between">
                            <span class="inline-flex rounded-md shadow-sm">
                                <a th:href="@{/project/{projectId}/todo/{todoId}/delete(projectId=${project.id}, todoId=${todo.id})}"
                                    class="py-2 px-4 border border-red-300 rounded-md text-sm leading-5 font-medium text-red-700 hover:text-red-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                    Delete
                                </a>
                            </span>

                            <div class="flex justify-end">
                              <span class="inline-flex rounded-md shadow-sm">
                                <a th:href="@{/project/{projectId}/todo/{todoId}(projectId=${project.id}, todoId=${todo.id})}" type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                  Cancel
                                </a>
                              </span>
                                                        <span class="ml-3 inline-flex rounded-md shadow-sm">
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                  Save
                                </button>
                              </span>
                            </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="fragments/notifications :: notifications"></div>

<script>
    // Vue.config.ignoredElements = ['trix-editor'];
    Vue.component("editor", {
        template: "#editor-template"
    });

</script>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>