<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="font-sans bg-gray-100">
<div id="app">
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="min-h-screen">
        <div class="py-4">
            <div class="max-w-4xl mx-auto px-4 sm:px-4 lg:px-4">
                <div class="bg-white rounded-lg shadow p-6">
                    <div class="flex justify-between">
                        <nav class="flex items-center text-sm leading-5 font-medium">
                            <a th:href="@{/projects}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">Home</a>
                            <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                            </svg>
                            <a th:href="@{/project/{id}(id=${project.id})}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
                                <span th:text="${project.name}"></span>
                            </a>
                            <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                            </svg>
                            <a th:href="@{/project/{id}/messages(id=${project.id})}" class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">Messages</a>
                        </nav>
                        <div>
                            <span class="inline-flex rounded-full shadow-sm">
                                <span th:if="${message.user.id == currentUser.id}">
                                    <a th:href="@{/project/{projectId}/message/{messageId}/edit(projectId=${project.id},messageId=${message.id})}" class="underline text-indigo-600">Edit</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="mt-4 flex justify-between">
                        <h3 class="text-2xl leading-6 font-bold text-gray-900" th:text="${message.title}"></h3>
                        <div class="text-sm">
                            <!-- Comment count display removed for Thymeleaf conversion -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="sm:col-span-6 border-t border-b py-4 border-gray-200">
                            <div class="relative">
                                <div class="absolute left-0 top-0">
                                    <img 

                                    th:src="@{'https://ui-avatars.com/api/?name=' + ${message.user.firstName} + '+' + ${message.user.lastName} + '&background=random&color=fff'}"
                                                th:alt="${message.user.firstName + ' ' + message.user.lastName}"
                                                th:title="${message.user.firstName + ' ' + message.user.lastName}" 
                                    class="h-12 w-12 rounded-full">
                                </div>
                                <div class="ml-16">
                                    <div class="flex justify-between ">
                                        <div>
                                            <span class="font-medium" th:text="${message.user.firstName} + ' ' + ${message.user.lastName}"></span>
                                        </div>
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        <span th:text="${#dates.format(message.createdAt.time, 'MMM dd, yyyy')}"></span> at <span th:text="${#dates.format(message.createdAt.time, 'h:mm a')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trix-editor-content mt-4" th:utext="${message.content}"></div>
                    <div class="mt-12">
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-100 text-indigo-800 font-bold">
                                    <span th:text="${#lists.size(message.comments)}"></span>
                                </span>
                            </div>
                            <h4>
                                <div class="flex-shrink-0 pr-4 pl-4 text-lg leading-5 tracking-wider font-medium text-gray-900 ">Comments</div>
                            </h4>
                            <div class="flex-1 border-t border-gray-200"></div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div>
                            <div th:each="comment : ${message.comments}">
                                <div class="sm:col-span-6 mt-6" th:id="'comment_' + ${comment.id}">
                                    <div class="relative">
                                        <div class="absolute left-0 top-0">
                                            <img 
                                                th:src="@{'https://ui-avatars.com/api/?name=' + ${comment.user.firstName} + '+' + ${comment.user.lastName} + '&background=random&color=fff'}"
                                                th:alt="${comment.user.firstName + ' ' + comment.user.lastName}"
                                                th:title="${comment.user.firstName + ' ' + comment.user.lastName}" 
                                                class="h-12 w-12 rounded-full "
                                            />
                                        </div>
                                        <div class="ml-16">
                                            <div class="flex justify-between ">
                                                <div>
                                                    <span class="font-medium" th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}"></span>
                                                    <span class="text-sm mt-1 text-gray-600">
                                                        <span th:text="${#dates.format(comment.createdAt.time, 'MMM dd, yyyy')}"></span> at <span th:text="${#dates.format(comment.createdAt.time, 'h:mm a')}"></span>
                                                    </span>
                                                </div>
                                                <div class="text-sm">
                                                    <span th:if="${currentUser.id == comment.user.id}">
                                                        <a th:onclick="|deleteComment(${project.id},${message.id},${comment.id})|" class="underline text-red-500 cursor-pointer ">
                                                            <svg fill="none" class="h-6 w-6 mr-4" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                                            </svg>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="formatted_content" th:utext="${comment.text}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a name="comment_form">
                                <div class="sm:col-span-6 mt-12">
                                    <div class="relative">
                                        <div class="absolute left-0 top-0">
                                            <img 

                                            th:src="@{'https://ui-avatars.com/api/?name=' + ${currentUser.firstName} + '+' + ${currentUser.lastName} + '&background=random&color=fff'}"
                                                th:alt="${currentUser.firstName + ' ' + currentUser.lastName}"
                                                th:title="${currentUser.firstName + ' ' + currentUser.lastName}" 
                                            
                                            class="h-12 w-12 rounded-full ">
                                        </div>
                                        <form th:action="@{/project/{projectId}/message/{messageId}/comment(projectId=${project.id},messageId=${message.id})}" 
                                            th:object="${comment}" method="post">
                                            <script type="x-template" id="comment-template">
                                                <div>
                                                    <input type="hidden" id="newComment" name="text" th:field="*{text}"/>
                                                    <trix-editor input="newComment" class="trix-editor-comment"></trix-editor>
                                                </div>
                                            </script>
                                            <div class="ml-16">
                                                <comment-editor></comment-editor>
                                                <p class="mt-1 text-sm mb-4 text-red-500">
                                                    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
                                                </p>
                                                <div class="mt-4">
                                                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">Add this comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/notifications :: notifications}"></div>
<script>
    Vue.component("comment-editor", {
        template: "#comment-template"
    });
</script>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
