<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="font-sans bg-gray-100">
<div id="app">

<!-- <jsp:include page="includes/nav.jsp"></jsp:include> -->

<div class="min-h-screen">
    <div class="py-4">
        <div class="flex flex-col justify-center sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Sign up
                    <p class="mt-2 text-center text-sm leading-5 text-gray-600">
                        or
                        <a class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150"
                           th:href="@{/login}">sign in if you have already joined</a>
                    </p>
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form th:action="@{/registration}" th:object="${userForm}" method="post">
                        <div>
                            <label for="firstName" class="block text-sm font-medium leading-5 text-gray-700">
                                First name
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input type="text" th:field="*{firstName}" id="firstName"
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                       placeholder="First name"/>
                            </div>
                            <p class="mt-1 text-sm mb-4 text-red-500" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                        <div>
                            <label for="lastName" class="block text-sm font-medium leading-5 text-gray-700">
                                Last name
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input type="text" th:field="*{lastName}" id="lastName"
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                       placeholder="Last name"/>
                            </div>
                            <p class="mt-1 text-sm mb-4 text-red-500" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                        <div>
                            <label for="username" class="block text-sm font-medium leading-5 text-gray-700">
                                Email
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input type="email" th:field="*{username}" id="username"
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                       placeholder="john@doe.com"/>
                            </div>
                            <p class="mt-1 text-sm mb-4 text-red-500" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div>
                            <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input type="password" th:field="*{password}" id="password"
                                       class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                       placeholder="password"/>
                            </div>
                            <p class="mt-1 text-sm mb-4 text-red-500" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                                        type="submit">
                                    Sign up
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

