<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="font-sans bg-gray-100">
<div id="app">

    <nav th:replace="fragments/nav :: nav"></nav>
    

    <div class=" min-h-screen">
        <div class="py-4">
                <div class="max-w-4xl mx-auto px-4 sm:px-4 lg:px-4">
                    <div th:if="${not #lists.isEmpty(hqs)}">
                        <div class="">
                            <div class="flex items-center">
                                <div class="flex-1 border-t-2 border-gray-200"></div>
                                <h4 class="flex-shrink-0 pr-4 pl-4 text-lg leading-5 tracking-wider font-medium text-gray-500">
                                    <span th:text="#{company.name}"></span>
                                </h4>
                                <div class="flex-1 border-t-2 border-gray-200"></div>
                            </div>


                            <div class="mt-4 mb-8">
                            <div class="flex flex-wrap -mx-3">

                                <div th:each="hq : ${hqs}" th:if="${hq.status != 'deleted'}" class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
                                    <a class="no-underline bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition flex-1 flex flex-col" th:href="@{${contextUrl} + '/project/' + ${hq.id}}">
                                        <div class="p-6 flex flex-col">
                                            <h3 class="font-display text-black no-underline mb-2 font-bold" th:text="${hq.name}">
                                            </h3> <!-- TODO: Seed the HQ by default-->
                                            <div class="text-gray-700 text-sm" th:text="${hq.description}">
                                            </div>
                                            <div class="mt-4">
                                                <div class="flex overflow-hidden">
                                                    <img class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid"
                                                         th:src="@{${contextUrl} + '/avatar/' + ${hq.user.id} + '/' + ${#strings.substring(hq.user.firstName,0,1)} + ${#strings.substring(hq.user.lastName,0,1)} + '.svg'}"
                                                         th:title="${hq.user.firstName + ' ' + hq.user.lastName}">
                                                    <img th:each="user : ${hq.users}" 
                                                         class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid"
                                                         th:src="@{${contextUrl} + '/avatar/' + ${user.id} + '/' + ${#strings.substring(user.firstName,0,1)} + ${#strings.substring(user.lastName,0,1)} + '.svg'}"
                                                         th:title="${user.firstName + ' ' + user.lastName}">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div class="flex items-center">


                            <a th:href="@{${contextUrl} + '/project/new'}"
                                   class="flex-shrink-0 px-2 py-1 rounded-full border-2 border-gray-200 text-sm leading-5 tracking-wider font-medium bg-white text-gray-500">
                                    New
                            </a>



                            <div class="flex-1 border-t-2 border-gray-200"></div>
                            <h4 class="flex-shrink-0 pr-4 pl-4 text-lg leading-5 tracking-wider font-medium text-gray-500">
                                Teams
                            </h4>
                            <div class="flex-1 border-t-2 border-gray-200"></div>
                        </div>
                    </div>

                    <div class="mt-4 mb-8">
                        <div class="flex flex-wrap -mx-3">
                            <div th:each="team : ${teams}" th:if="${team.status != 'deleted'}" class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
                                <a class="no-underline bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition flex-1 flex flex-col" th:href="@{${contextUrl} + '/project/' + ${team.id}}">
                                    <div class="p-6 flex flex-col">
                                        <h3 class="font-display text-black no-underline mb-2 font-bold" th:text="${team.name}">
                                        </h3> <!-- TODO: Seed the HQ by default-->
                                        <div class="text-gray-700 text-sm" th:text="${team.description}">
                                        </div>
                                        <div class="mt-4">
                                            <div class="flex overflow-hidden">
                                                <img class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid"
                                                     th:src="@{${contextUrl} + '/avatar/' + ${team.user.id} + '/' + ${#strings.substring(team.user.firstName,0,1)} + ${#strings.substring(team.user.lastName,0,1)} + '.svg'}"
                                                     th:title="${team.user.firstName + ' ' + team.user.lastName}">

                                                <img th:each="user : ${team.users}" 
                                                     class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid" 
                                                     th:src="@{${contextUrl} + '/avatar/' + ${user.id} + '/' + ${#strings.substring(user.firstName,0,1)} + ${#strings.substring(user.lastName,0,1)} + '.svg'}"
                                                     th:title="${user.firstName + ' ' + user.lastName}">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div class="flex items-center">

                            <a th:href="@{${contextUrl} + '/project/new'}"
                               class="flex-shrink-0 px-2 py-1 rounded-full border-2 border-gray-200 text-sm leading-5 tracking-wider font-medium bg-white text-gray-500">
                                New
                            </a>
                            <div class="flex-1 border-t-2 border-gray-200"></div>
                            <h4 class="flex-shrink-0 pr-4 pl-4 text-lg leading-5 tracking-wider font-medium text-gray-500">
                                Projects
                            </h4>
                            <div class="flex-1 border-t-2 border-gray-200"></div>
                        </div>
                    </div>

                    <div class="mt-4 mb-8">
                        <div class="flex flex-wrap -mx-3">
                            <div th:each="project : ${projects}" th:if="${project.status != 'deleted'}" class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
                                <a class="no-underline bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition flex-1 flex flex-col" th:href="@{${contextUrl} + '/project/' + ${project.id}}">
                                    <div class="p-6 flex flex-col">
                                        <h3 class="font-display text-black no-underline mb-2 font-bold" th:text="${project.name}">
                                        </h3> <!-- TODO: Seed the HQ by default-->
                                        <div class="text-gray-700 text-sm" th:text="${project.description}">
                                        </div>
                                        <div class="mt-4">
                                            <div class="flex overflow-hidden">
                                                <img class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid"
                                                     th:src="@{${contextUrl} + '/avatar/' + ${project.user.id} + '/' + ${#strings.substring(project.user.firstName,0,1)} + ${#strings.substring(project.user.lastName,0,1)} + '.svg'}"
                                                     th:title="${project.user.firstName + ' ' + project.user.lastName}">
                                                <img th:each="user : ${project.users}" 
                                                     class="first:ml-0 mr-1 inline-block h-8 w-8 rounded-full text-white shadow-solid" 
                                                     th:src="@{${contextUrl} + '/avatar/' + ${user.id} + '/' + ${#strings.substring(user.firstName,0,1)} + ${#strings.substring(user.lastName,0,1)} + '.svg'}"
                                                     th:title="${user.firstName + ' ' + user.lastName}">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div class="flex items-center">

                            <a th:href="@{${contextUrl} + '/timesheet/new'}"
                               class="flex-shrink-0 px-2 py-1 rounded-full border-2 border-gray-200 text-sm leading-5 tracking-wider font-medium bg-white text-gray-500">
                                New
                            </a>
                            <div class="flex-1 border-t-2 border-gray-200"></div>
                            <h4 class="flex-shrink-0 pr-4 pl-4 text-lg leading-5 tracking-wider font-medium text-gray-500">
                                Timesheets
                            </h4>
                            <div class="flex-1 border-t-2 border-gray-200"></div>
                        </div>
                    </div>

                    <div class="mt-4 mb-8">
                        <div class="flex flex-wrap -mx-3">
                            <!-- This example requires Tailwind CSS v2.0+ -->
                            <div class="flex flex-col">
                                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                            <table class="min-w-full divide-y divide-gray-200 table-auto">
                                                <thead class="bg-gray-50">
                                                <tr>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Task
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        User
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Project
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Date
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Hours
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Actions
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="timesheet : ${timesheets}" class="bg-white">
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm align-top">
                                                        <div class="font-medium text-gray-900" th:text="${timesheet.task}"></div>
                                                        <div class="text-xs text-gray-500" th:utext="${timesheet.notesHTML}"></div>

                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 align-top" th:text="${timesheet.user.firstName + ' ' + timesheet.user.lastName}">
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 align-top" th:text="${timesheet.project.name}">
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 align-top">
                                                        <span th:text="${#dates.format(timesheet.timeLogDate, 'yyyy-MM-dd')}"></span>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 align-top" th:text="${timesheet.manHours}">
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium align-top">
                                                        <div class="flex">
                                                            <a th:href="@{'/timesheet/' + ${timesheet.id} + '/edit'}" class="text-indigo-600 hover:text-red-900">
                                                                <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 mr-2"><path _ngcontent-kqr-c26="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                                                            </a>
                                                            <a th:href="@{'/timesheet/' + ${timesheet.id} + '/delete'}" class="text-red-600 hover:text-red-900">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5"><path _ngcontent-kqr-c26="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

        </div>

    </div>

</div>

    <div th:replace="fragments/notifications :: notifications"></div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>